<a href="https://colab.research.google.com/github/tanongsakintean/google_colab/blob/main/Lab_06_6406021622095.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Workshop 6: Clean Missing Data**
**คำสั่ง**

1.   ศึกษาวิธีการเติมข้อมูลสูญหายเบื้องต้นต่อไปนี้
2.   ทำการเติมข้อมูลสูญหายทุกตัวแปรด้วยวิธีที่เหมาะสม
3.   ตั้งชื่อไฟล์ python notebook นี้ในรูปแบบ Lab_06_XXXXXXXXXXXXX.ipynb โดย XXXXXXXXX คือ รหัสนักศึกษา
4.   ทำการดาวน์โหลดและส่งไฟล์ Lab_06_XXXXXXXXXXXXX.ipynb ที่ Google Classroom

In [1]:
import pandas as pd
import numpy as np

In [4]:
from google.colab import drive
drive.mount('/content/drive')
nfl_data = pd.read_csv("/content/drive/MyDrive/DATASET/NFL.csv")
nfl_data.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

<ipython-input-4-3abaa8ba9556>:3: DtypeWarning: Columns (51) have mixed types. Specify dtype option on import or set low_memory=False.
  nfl_data = pd.read_csv("/content/drive/MyDrive/DATASET/NFL.csv")

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,9/10/2009,2009091000,1,1,NaN,15:00,15,3600.0,0.0,TEN,...,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,9/10/2009,2009091000,1,1,1.0,14:53,15,3593.0,7.0,PIT,...,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,9/10/2009,2009091000,1,1,2.0,14:16,15,3556.0,37.0,PIT,...,NaN,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,9/10/2009,2009091000,1,1,3.0,13:35,14,3515.0,41.0,PIT,...,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,9/10/2009,2009091000,1,1,4.0,13:27,14,3507.0,8.0,PIT,...,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009

**Check missing data**

In [5]:
# get the number of missing data points per column
missing_values_count = nfl_data.isnull().sum()

# look at the # of missing points in the first ten columns
missing_values_count[0:10]

Date               0
GameID             0
Drive              0
qtr                0
down            6409
time              29
TimeUnder          0
TimeSecs          29
PlayTimeDiff      58
SideofField       55
dtype: int64

In [6]:
# how many total missing values do we have?
total_cells = np.product(nfl_data.shape)
total_missing = missing_values_count.sum()

# percent of data that is missing
percent_missing = (total_missing/total_cells) * 100
print(percent_missing)

27.769186471150064

**Drop missing values**

In [7]:
# remove all the rows that contain a missing value
nfl_data.dropna()

Empty DataFrame
Columns: [Date, GameID, Drive, qtr, down, time, TimeUnder, TimeSecs, PlayTimeDiff, SideofField, yrdln, yrdline100, ydstogo, ydsnet, GoalToGo, FirstDown, posteam, DefensiveTeam, desc, PlayAttempted, Yards.Gained, sp, Touchdown, ExPointResult, TwoPointConv, DefTwoPoint, Safety, Onsidekick, PuntResult, PlayType, Passer, Passer_ID, PassAttempt, PassOutcome, PassLength, AirYards, YardsAfterCatch, QBHit, PassLocation, InterceptionThrown, Interceptor, Rusher, Rusher_ID, RushAttempt, RunLocation, RunGap, Receiver, Receiver_ID, Reception, ReturnResult, Returner, BlockingPlayer, Tackler1, Tackler2, FieldGoalResult, FieldGoalDistance, Fumble, RecFumbTeam, RecFumbPlayer, Sack, Challenge.Replay, ChalReplayResult, Accepted.Penalty, PenalizedTeam, PenaltyType, PenalizedPlayer, Penalty.Yards, PosTeamScore, DefTeamScore, ScoreDiff, AbsScoreDiff, HomeTeam, AwayTeam, Timeout_Indicator, Timeout_Team, posteam_timeouts_pre, HomeTimeouts_Remaining_Pre, AwayTimeouts_Remaining_Pre, HomeTimeouts_Remaining_Post, AwayTimeouts_Remaining_Post, No_Score_Prob, Opp_Field_Goal_Prob, Opp_Safety_Prob, Opp_Touchdown_Prob, Field_Goal_Prob, Safety_Prob, Touchdown_Prob, ExPoint_Prob, TwoPoint_Prob, ExpPts, EPA, airEPA, yacEPA, Home_WP_pre, Away_WP_pre, Home_WP_post, Away_WP_post, Win_Prob, WPA, airWPA, ...]
Index: []

[0 rows x 102 columns]

In [8]:
# remove all the rows that contain a missing value in specific columns
nfl_data.dropna(subset=['down'])

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
1,9/10/2009,2009091000,1,1,1.0,14:53,15,3593.0,7.0,PIT,...,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,9/10/2009,2009091000,1,1,2.0,14:16,15,3556.0,37.0,PIT,...,NaN,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,9/10/2009,2009091000,1,1,3.0,13:35,14,3515.0,41.0,PIT,...,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,9/10/2009,2009091000,1,1,4.0,13:27,14,3507.0,8.0,PIT,...,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009
5,9/10/2009,2009091000,2,1,1.0,13:16,14,3496.0,11.0,TEN,...,NaN,0.558929,0.441071,0.578453,0.421547,0.441071,-0.019524,NaN,NaN,2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41875,12/28/2009,2009122800,26,5,3.0,10:27,11,-273.0,38.0,CHI,...,-3.447220,0.531010,0.468990,0.373401,0.626599,0.531010,-0.157609,0.061135,-0.218744,2009
41876,12/28/2009,2009122800,26,5,4.0,10:22,11,-278.0,5.0,CHI,...,NaN,0.373401,0.626599,0.551858,0.448142,0.373401,0.178457,NaN,NaN,2009
41877,12/28/2009,2009122800,27,5,1.0,10:11,11,-289.0,11.0,MIN,...,NaN,0.551858,0.448142,0.622337,0.377663,0.448142,-0.070479,NaN,NaN,2009
41878,12/28/2009,2009122800,27,5,2.0,9:32,10,-328.0,39.0,MIN,...,-2.433674,0.622337,0.377663,0.792653,0.207347,0.377663,-0.170316,0.064783,-0.235099,2009
41879,12/28/2009,2009122800,28,5,1.0,9:21,10,-339.0,11.0,MIN,...,1.860585,0.792653,0.207347,NaN,NaN,0.792653,NaN,-0.093898,NaN,2009

In [9]:
# remove all columns with at least one missing value
nfl_data.dropna(axis=1)

,Date,GameID,Drive,qtr,TimeUnder,ydstogo,ydsnet,desc,PlayAttempted,Yards.Gained,...,AwayTeam,Timeout_Indicator,posteam_timeouts_pre,HomeTimeouts_Remaining_Pre,AwayTimeouts_Remaining_Pre,HomeTimeouts_Remaining_Post,AwayTimeouts_Remaining_Post,ExPoint_Prob,TwoPoint_Prob,Season
0,9/10/2009,2009091000,1,1,15,0,0,R.Bironas kicks 67 yards from TEN 30 to PIT 3....,1,39,...,TEN,0,3,3,3,3,3,0.0,0.0,2009
1,9/10/2009,2009091000,1,1,15,10,5,(14:53) B.Roethlisberger pass short left to H....,1,5,...,TEN,0,3,3,3,3,3,0.0,0.0,2009
2,9/10/2009,2009091000,1,1,15,5,2,(14:16) W.Parker right end to PIT 44 for -3 ya...,1,-3,...,TEN,0,3,3,3,3,3,0.0,0.0,2009
3,9/10/2009,2009091000,1,1,14,8,2,(13:35) (Shotgun) B.Roethlisberger pass incomp...,1,0,...,TEN,0,3,3,3,3,3,0.0,0.0,2009
4,9/10/2009,2009091000,1,1,14,8,2,(13:27) (Punt formation) D.Sepulveda punts 54 ...,1,0,...,TEN,0,3,3,3,3,3,0.0,0.0,2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41875,12/28/2009,2009122800,26,5,11,7,3,(10:27) (Shotgun) J.Cutler pass incomplete sho...,1,0,...,MIN,0,2,2,2,2,2,0.0,0.0,2009
41876,12/28/2009,2009122800,26,5,11,7,3,"(10:22) B.Maynard punts 47 yards to MIN 14, Ce...",1,3,...,MIN,0,2,2,2,2,2,0.0,0.0,2009
41877,12/28/2009,2009122800,27,5,11,10,0,(10:11) A.Peterson left tackle to MIN 17 for n...,1,0,...,MIN,0,2,2,2,2,2,0.0,0.0,2009
41878,12/28/2009,2009122800,27,5,10,10,16,(9:32) B.Favre pass short right to A.Peterson ...,1,16,...,MIN,0,2,2,2,2,2,0.0,0.0,2009
41879,12/28/2009,2009122800,28,5,10,10,39,(9:21) J.Cutler pass deep right to D.Aromashod...,1,39,...,MIN,0,2,2,2,2,2,0.0,0.0,2009

**Impute missing data**

In [10]:
# fill all missing with a value
results = nfl_data.fillna(0)
results.isnull().sum()

Date        0
GameID      0
Drive       0
qtr         0
down        0
           ..
Win_Prob    0
WPA         0
airWPA      0
yacWPA      0
Season      0
Length: 102, dtype: int64

In [11]:
# fill missing values in a specific column with a value
results = nfl_data
results['down'].fillna(0, inplace = True)
results.isnull().sum()

Date            0
GameID          0
Drive           0
qtr             0
down            0
            ...
Win_Prob     2767
WPA           643
airWPA      25919
yacWPA      25943
Season          0
Length: 102, dtype: int64

In [12]:
# fill missing values in a specific column with mean
results = nfl_data
results['down'].fillna(results['down'].mean(), inplace = True)
results.isnull().sum()

Date            0
GameID          0
Drive           0
qtr             0
down            0
            ...
Win_Prob     2767
WPA           643
airWPA      25919
yacWPA      25943
Season          0
Length: 102, dtype: int64

ปฏิบัติการข้อ 1) ให้นักศึกษาเติมข้อมูลสูญหายของตัวแปรทั้งหมดที่มีข้อมูลสูญหาย จะใช้วิธีการใดก็ได้ ตามความเหมาะสม พร้อมเขียนอธิบาย

In [23]:
# Answer here!
#fill missing values in a specific column with mean
#เพราะใช้เนื่องจาก percent missing มีถึง ~ 27% ดังนั้นจึงใช้การหาค่าเฉลี่ยแทน

preprocessData = nfl_data
preprocessData['airWPA'].fillna(preprocessData['airWPA'].mean(), inplace = True)
preprocessData['yacWPA'].fillna(preprocessData['yacWPA'].mean(), inplace = True)
preprocessData.isnull().sum()
preprocessData.shape

(41880, 102)